/* Global Tags */
html,
body,
fieldset,
ul,
h3 {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x:hidden;
    overflow-y:scroll;
    background: none repeat scroll 0 0 #515151;
}

body,
p,
select,
input,
textarea {
    font: 1em Helvetica, arial, sans-serif;
    color: #222;
}

input {
    padding: 10px;
}

ul {
    list-style-type: none;
}

h3 {
    padding-left: 10px;
    color: #444;
    text-shadow: 1px 1px 1px #FFF;
}

/* Forms */
form {
    padding: 10px;
}

input[type=text],
input[type=password],
textarea {
    width: 100%;
    display: block;
    padding: 10px;
    border: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-focus-ring-color: rgba(0, 0, 0, 0);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    ressize: none;
    outline: none;
}

button {
    background: -moz-linear-gradient(center top , #555, #333);
    background: -webkit-gradient(linear, 0% 40%, 0% 70%, from(#555), to(#333));

    opacity: 1;
    font-size: 14px;
    border: 0px;
    line-height: 27px;
    margin: 9px;
    height: auto;
    border: 1px solid #000;
    border-radius: 5px;
    color: #999;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 1.1px;
    cursor: pointer;
}

button.active {
    background: -moz-linear-gradient(center top , #B8DB29, #5A8F00) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B8DB29), color-stop(100%,#5A8F00));

    color: white;
}

textarea {
    padding: 0px;
    height: 140px;
}

fieldset {
    border-radius: 10px;
    border: 1px solid #AAA;
    -moz-box-shadow: 0px 1px 2px #666;
    -webkit-box-shadow: 0px 1px 2px #666;
    box-shadow: 0px 1px 2px #666;
    background: white;
    overflow: hidden;
    margin-bottom: 0px;
}

fieldset input:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 0px !important;
}

fieldset .textarea:first-child {
    border-top: 0px !important;
}

fieldset input:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

div.input,
fieldset input[type=password],
fieldset input[type=text],
fieldset .textarea {
    border-top: 1px solid #CCC;
}

::-webkit-input-placeholder {
    color: #BBB;
}

:-moz-placeholder {
    color: #BBB;
}

div.input {
    line-height: 37px;
}

.textarea {
    padding: 10px;
}

.select {
    padding: 0 10px;
}

/* Custom Checkboxes */
input[type=checkbox] {
    display: none;
}

.checkbox div {
    display: block;
    width: 16px;
    height: 16px;
    background-size: 100%;
    background-image: url(../img/unchecked.png);
}

.checkbox {
    width: 16px;
    height: 100%;
    height: 16px;
    float: left;
    padding: 10px 10px 0px 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox.checked div {
    background-image: url(../img/checked.png);
}

/* Main Layout */
#content {
    position: relative;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

.pane {
    position: absolute;
    width: 100%;
}

.slidepane {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
}

.content > h3 {
    margin-top: 10px;
}

header {
    z-index: 4;
    display: block;
    margin: 0px 10px 0px 10px;
    height: 49px;
    background: #222;
    background: -moz-linear-gradient(center top , #333, #222) repeat scroll 0 0 transparent;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#222));
    border-radius: 0px 0px 5px 5px;
    border: 1px solid #000;
    border-top:0px;
}

header a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    color: white;
    display: block;
    float: left;
    padding: 13px 20px;
    width: 24px;
    height: 23px;
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 100%;
    outline: none;
    border-left: 1px solid #555;
    border-right: 1px solid #000;
    opacity: 0.5;
}

.home {
    background-image:url(../img/home.png);
}

.home_tpl .home {
    opacity: 1;
}

header button {
    position: absolute;
    right: 11px;
}

header a:first-child {
    border-left:0px;
}

.home_tpl #show_filters_btn {
    display:block;
}

#show_filters_btn {
    display:none;
}

.task_tpl #save_task_btn {
    display:block;
}
#save_task_btn {
    display:none;
}

/* Home Page */
#tasks_wrapper li {
    border-bottom: 1px solid #444;
}

#tasks_wrapper li:last-child {
    border-bottom: 0px;
}

#tasks_wrapper li.deleted .task_link {
    color: #888;
}

.none {
    color: #999;
    font: 1em Georgia, serif;
    font-style: italic;
    text-align: center;
    text-shadow: 1px 1px 1px #FFF;
}

.task_link {
    text-decoration: none;
    color: #EEE;
    white-space: nowrap;
    display: block;
    padding: 10px 0px 10px 0px;
    overflow: auto;
    text-shadow: 1px 1px 2px #343A40;
}

.title {
    position: absolute;
    right: 90px;
    left: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task_tag_wrapper {
    width: 90px;
    float: right;
    margin-top: -10px;
}

.delete,
.deleteserver {
    padding: 5px;
    width: 16px;
    height: 16px;
    background: url(../img/delete.png) no-repeat center center;
    background-size: 50%;
    text-indent: -9999px;
    border: 0px;
    opacity: 0.3;
}

.task,
.server {
    position: relative;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.1);
}

#edit_filter {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.tags li {
    float: left;
    padding: 10px;
    margin: 0px 10px;
    background: #888;
    color: white;
    border-radius: 5px;
}

.tags li.active {
    background:#000;
}

#filterui {
    overflow: auto;
}

#tasks_wrapper .tag {
    float: right;
    display: block;
    margin-right: 5px;
    margin-top:10px;
    max-width:35px;
    overflow:hidden;
}

.tag {
    float: left;
    font-size: 10px;
    background: #000;
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
    font-family: verdana;
}

#filter_tags .tag {
    margin: 10px 10px 0px 10px;
    opacity: 0.3;
    font-size: 12px;
    padding:5px;
}

#filter_tags .tag.active {
    opacity: 1;
}

#filter_tags {
    min-height: 36px;
    overflow: auto;
}

#filter_tags h3 {
    float: left;
    margin-top: 10px;
}

#tag_table {
    height: 2px;
    overflow: hidden;
    line-height: 2px;
}

#tag_table .tag {
    border-radius: 0px;
    height: 2px;
    overflow: hidden;
    line-height: 2px;
}

.blank {
    background: #CCC;
}

.ttag {
    margin-top: 2px;
}

#edit_task_form .checkbox {
    position:relative;
    padding:10px;
}

.header {
    padding:5px;
}

#edit_task_form .tag {
    opacity: 0.3;
}

#edit_task_form .tag.active {
    opacity: 1;
}

#tasks_wrapper .date {
    background:#333;
    color: #CCC;
    text-align: center;
    font-size: 14px;
    padding: 7px 0px 5px 0px;
    text-shadow: 1px 1px 2px #343A40;
    border:1px solid #000;
    border-width:1px 0px 0px 0px;
    border-bottom:0px;
}

#tasks_wrapper .date.completed {
    background: #BC7B00;
    color: #EEE;
}

#infinite_load,
#tasks_end {
    padding: 30px;
    display: none;
    text-align: center;
}

div.tag_wrapper {
    line-height: 1em;
    overflow: auto;
    padding-bottom: 10px;
}

div.tag_wrapper .tag {
    margin:10px 10px 0px 10px;
}

#add_task_input {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius:5px;
    border: 1px solid;
    border-color: #444 #444 #555 #444;
    box-shadow:0px 1px 1px #777;
    color: #EEE;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #343A40;
}

#add_task_input::-webkit-input-placeholder {
    color: #999;
}

#add_task_input:-moz-placeholder {
    color: #999;
}

#filter_tags {
    display: none;
}